* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --master-color: #004b23;
  --light-color: #008000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

/* utility */

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 12px 0px var(--master-color);
  height: 74px;
  justify-content: space-between;
  padding: 0rem 2rem;
}
.logo_link {
  text-decoration: none;
}
.logo_heading {
  text-decoration: none;
  color: var(--master-color);
  font-size: 1.7rem;
  margin-bottom: 0rem;
}
.logo_div img {
  width: 4rem;
}

.navlink_div li {
  list-style: none;
}
.navlink_div ul {
  margin-bottom: 0;
}

.nav_links {
  text-decoration: none;
  margin: 0rem 1rem;
  font-size: 1.1rem;
  color: var(--master-color);
}
.nav_links:hover {
  color: var(--light-color);
}

/* service section styling */

.service_container {
  /* background-color: tomato; */
  height: 20rem;
  width: 100%;
  justify-content: start;
  padding-top: 2rem;
}
.service_container h1 {
  font-size: 2rem;
  color: var(--master-color);
}
.service_container p {
  font-size: 1.1rem;
  color: var(--master-color);
}
.service_box .box {
  margin: 1rem 2rem;
}
.box {
  /* border: 1px solid var(--master-color); */
  border-radius: 0.5rem;
  width: 10rem;
  padding: 1.4rem 0rem;
}
.box h2 {
  font-size: 1rem;
  margin-top: 2rem;
  font-weight: 400;
  margin-bottom: 0rem;
}
.box_icon {
  color: var(--master-color);
  transform: scale(1.2);
}

/* testimonial section styling */

.testimonial_container
{
  background-color: yellow;
}
.testimonial_box
{
  width: 100vw;
  background-color: teal;
}


/* footer styling */

footer {
  background-color: #ccff33;
  color: var(--master-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.social_media {
  background-color: violet;
}
.footer_links {
  background-color: tan;
}
.map_box {
  background-color: tomato;
}
