@media screen and (max-width: 1210px) {
  body {
    font-size: 12px;
  }
  .navbar {
    width: 100%;
    height: auto;
    padding: 0rem;
  }
  .logo_heading {
   
    font-size: 1.3rem;
   
  }
  .logo_div img {
    width: 3rem;
  }
  .nav-link-box {
    height: auto;
    width: 100%;
    padding-left: 0rem;
  }
  .nav-link-box li {
    width: 100%;
    text-align: center;
  }
  .nav_links {
    width: 100%;
    display: flex;
    margin: 0rem;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 0rem;
    flex-direction: column;
  }
  .nav_links:hover {
    background-color: rgb(223, 223, 223);
  }
  .non-show {
    display: none;
  }
  .show {
    display: flex;
  }

  .wrapper {
    justify-content: space-between;
    width: 100%;
    padding: .4rem .7rem;
  }


  .slider {
    height: 30rem;
  }
  .slider_box {
    justify-content: space-evenly;
    
  }

  .menu_btn_wrapper button {
  
  padding: 0.2rem 0.3rem;
}
  .menu_btn_wrapper {
    display: block;
  }

  .tag_box {
    display: none;
  }
  .gallery {
    width: 100%;
  }
  .gallery_outer_box {
    justify-content: center;
    align-items: center;
  }
  .gallery_container {
    padding: 2rem 1rem;
}
}

